.block__loader{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: 2px dotted blue;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}