.navbar{
    height: 3rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #282c34;
}

.logo{
    margin-left: 2rem;
    font-size: 1.5rem;
    color: aliceblue;
    text-decoration: none;
}

.link{
    margin: 0.5rem;
    color: red;
}